 .logout-btn{
     border: none;
     font-size: medium;
     border-radius: 50%;
     height: 4rem;
     width: 4rem;
     position: fixed;
     bottom: 8rem;
     right: 1.5rem;
 }

 .post-container{
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
 }

 .video-card{
     color: white;
     border: 1px solid;
     height: 100%;
     width: 30rem;
     margin: auto;
    position: relative;
    scroll-snap-align:start;
 }

 .like{
    position: absolute;
    top: 30rem;
    right: 1rem;
    color: #da3e3e;
 }
 .comment{
     position: absolute;
     top: 32.5rem;
     right: 1rem;
 }

 .username {
    position: absolute;
    bottom: 20vh;
    left: 20px;
  }
  
  .song {
    position: absolute;
    left: 20px;
    bottom: 16vh;
    display: flex;
    justify-content: space-around;
  }

  video{
      height: 100%;
      width: 100%;
      object-fit: cover;
  }

  .coment-box{
      border: 1px solid;
      height: 40%;
      width: 100%;
      position: absolute;
      bottom: 0;
      background: whitesmoke;
  }

input{
    outline: none;
}

.cmnt-close-btn{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: rgb(218, 218, 218);
    color: rgba(202, 6, 72, 0.534);
}
